alembic>=0.9.1,<1.0
beautifulsoup4>=4.5.3
boto>=2.46.1
boto3>=1.4.4
census>=0.8.1
corextopic
Cerberus>=1.1
cffi>=1.9.1
characteristic>=14.3.0
cryptography>=1.7.2
chardet>=2.3.0
cssselect>=1.0.1
Cython>=0.25.2
datefinder>=0.6.1
ddt>=1.1.1
django-bulk-update>=1.1.10
django-crontab>=0.7.1
django-extensions>=1.7.7
django-pandas>=0.4.1
django-picklefield>=0.3.2
django-rq>=0.9.5
django-simple-history>=1.8.2
django<2.0; python_version < '3.0'
django>=2.1; python_version >= '3.0'
enum34>=1.1.6
fuzzywuzzy>=0.15.0
gensim>=1.0.1
html5lib>=0.99
httplib2>=0.10.3
idna>=2.4
ipaddress>=1.0.18
langdetect>=1.0.7
lxml>=3.7.3
mediacloud>=2.38.0
nilsimsa>=0.3.8
nltk>=3.2.2
nose>=1.3.7
numpy>=1.12.0
pandas>=0.19.2
pattern>=2.6
pdftables>=0.0.4
polyglot
psycopg2>=2.7
pyasn1-modules>=0.0.8
pyasn1>=0.2.3
pycparser>=2.17
pyopenssl>=16.2.0
python-dateutil>=2.6.0
python-Levenshtein>=0.12.0
pytz>=2016.10
pyvirtualdisplay>=0.2.1
PyYAML>=3.12
pyzipcode>=1.0
queuelib>=1.4.2
requests>=2.13.0
requests-toolbelt>=0.7.1
scandir>=1.5
scipy>=0.18.1
Scrapy>=1.3.2
selenium>=3.0.2
service-identity>=16.0.0
setuptools>=34.3.1
simplejson>=3.10.0
six>=1.10.0
south>=1.0.2
sphinx-argparse>=0.1.17
sphinx>=1.5.3
ssdeep
static>=1.1.1
stopit>=1.1.1
#suds>=0.4
tqdm>=4.11.2
tweepy>=3.5.0
Twisted>=17.1.0
Unidecode>=0.4.20
untangle>=1.1.0
us>=0.9.1
w3lib>=1.17.0
wikipedia>=1.4.0
xgboost>=0.6a2
xlrd>=1.0.0
xlsxwriter>=0.9.6
xvfbwrapper>=0.2.9
zope.interface>=4.3.3
ner>=0.1
statsmodels>=0.8.0
django_tables2>=1.4.2
scikit-learn==0.20.2; python_version < '3.0'
scikit-learn; python_version >= '3.0'
git+ssh://labsdeploy/mobolic/facebook-sdk#egg=facebook-sdk>=3.0.0-alpha
git+ssh://labsdeploy/pewresearch/pewtils#egg=pewtils
git+ssh://labsdeploy/pewresearch/django_pewtils#egg=django_pewtils
git+ssh://labsdeploy/pewresearch/django_commander#egg=django_commander
git+ssh://labsdeploy/pewresearch/django_queries#egg=django_queries
