{% extends django_learning_template %}

{% load staticfiles %}

{% block extra_head %}{% endblock %}

{% block modals %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Projects</div>
                <table class="panel-body table table-condensed">
                    <tr><th>Project</th><!--<th>Status</th>--><th></th></tr>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <!--<td>Created</td>-->
                            <td><a class="btn btn-primary" href="{% url 'django_learning:view_project' project.name %}">View Project</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">Sampling Frames</div>
                <table class="panel-body table table-condensed">
                    <tr><th>Name</th><th>Documents</th><th></th></tr>
                    {% for sampling_frame in sampling_frames %}
                        <tr>
                            <td>{{ sampling_frame.name }}</td>
                            <td>{{ sampling_frame.documents.count }}</td>
                            <td><a class="btn btn-primary" href="{% url 'django_learning:view_sampling_frame' sampling_frame.name %}">View Sampling Frame</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}{% endblock %}