{% extends "django_learning/_template.html" %}

{% load staticfiles %}

{% block extra_head %}{% endblock %}

{% block modals %}

    <div class="modal fade" id="create_project_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                Please confirm the following action
            </h4>
          </div>
          <div class="modal-body">
            <p>
                Create project "{{ project_name }}"?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" href="{% url 'django_learning:create_project' project_name %}">Confirm</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block body %}

    {% if project %}

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Project: {{ project }}</div>
                    <table class="panel-body table table-condensed">
                        <tr><td>Name</td><td>{{ project.name }}</td></tr>
                        <tr><td>Admins</td><td><ul>{% for admin in project.admins.all %}<li>{{ admin }}</li>{% endfor %}</ul></td></tr>
                        <tr><td>Coders</td><td><ul>{% for coder in project.coders.all %}<li>{{ coder }}</li>{% endfor %}</ul></td></tr>
                        <tr><td>Questions</td><td><ul>{% for question in project.questions.all %}<li>{{ question }}</li>{% endfor %}</ul></td></tr>
                        <tr><td>Qualification Tests</td><td><ul>{% for qual_test in project.qualification_tests.all %}<li>{{ qual_test }}</li>{% endfor %}</ul></td></tr>
                    </table>
                </div>
            </div>
        </div>

        {% if samples|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ project.name }}: Samples</div>
                        <table class="panel-body table table-condensed">
                            <col>
                            <colgroup span="4"></colgroup>
                            <colgroup span="3"></colgroup>
                            <col>
                            <tr>
                                <th rowspan="2">Sample</th>
                                <th rowspan="2">Sample Units</th>
                                <th colspan="4" scope="colgroup">Mechanical Turk</th>
                                <th colspan="3" scope="colgroup">In-House</th>
                                <th rowspan="2"></th>
                            </tr>
                            <tr>
                                <th scope="col">Total HITs</th>
                                <th scope="col">HITs Completed</th>
                                <th scope="col">Total Assignments</th>
                                <th scope="col">Assignments Completed</th>
                                <th scope="col">Total HITs</th>
                                <th scope="col">HITs Completed</th>
                                <th scope="col">HITs Available</th>
                            </tr>
                            {% for sample in samples %}
                                <tr>
                                    <td scope="row">{{ sample.sample.name }}</td>
                                    <td scope="row">{{ sample.sample.document_units.count }}</td>
                                    <td>{{ sample.total_turk_hits.count }}</td>
                                    <td>{{ sample.completed_turk_hits.count }}</td>
                                    <td>{{ sample.total_turk_assignments }}</td>
                                    <td>{{ sample.completed_turk_assignments.count }}</td>
                                    <td>{{ sample.total_expert_hits.count }}</td>
                                    <td>{{ sample.completed_expert_hits.count }}</td>
                                    <td>{{ sample.available_expert_hits.count }}</td>
                                    <td scope="row">
                                        <a class="btn btn-primary" href="{% url 'django_learning:view_sample' project.name sample.sample.name %}">View Sample</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <p>No Samples Extracted</p>
            </div>
        {% endif %}

        {% if request.user.coder in project.admins.all %}

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Extract Project Sample</div>
                        <table class="panel-body table table-condensed">

                            <tr><th>Sample Name</th><th>HIT Type</th><th>Sampling Frame</th><th>Sampling Method</th><th>Size</th><th>Allow Overlap?</th><th></th></tr>
                            <form class="form-inline" method="post" action="{% url 'django_learning:extract_sample' project.name %}">
                                {% csrf_token %}
                                <tr>
                                    <td>
                                        <fieldset class="form-group">
                                            <textarea name="sample_name" class="form-control" rows="1" placeholder="Name"></textarea>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="hit_type_name" id="hit_type_name">
                                                {% for hit_type in hit_types.keys %}
                                                    <option value="{{ hit_type }}">{{ hit_type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="sampling_frame_name" id="sampling_frame_name">
                                                {% for sampling_frame in sampling_frames %}
                                                    <option value="{{ sampling_frame.name }}" {% if sampling_frame.name == 'all_documents' %}selected{% endif %}>{{ sampling_frame }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="sampling_method" id="sampling_method">
                                                {% for sampling_method in sampling_methods.keys %}
                                                    <option value="{{ sampling_method }}" {% if sampling_method == 'random' %}selected{% endif %}>{{ sampling_method }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" value="0" id="size" name="size">
                                        </div>
                                    </td>
                                    <td>
                                        False<input type="hidden" value="0" id="allow_overlap_with_existing_project_samples" name="allow_overlap_with_existing_project_samples">
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger">Extract</button>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Access Results</div>
                        <table class="panel-body table table-condensed">

                            <tr><th>Project</th><th>Sample</th><th>Dataframe</th><th>Access Mode</th><th></th></tr>
                            <form class="form-inline" method="post" action="/get_dataframe/{{ project.name }}">
                                {% csrf_token %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="sample_name" id="sample_name">
                                                <!-- <option value="all" {% if sample_name == "all" %}selected{% endif %}>All samples</option> -->
                                                {% for b in project.samples.all %}
                                                    <option value="{{ b.name }}">{{ b.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="dataframe" id="dataframe">
                                                {% for d in dataframes %}
                                                    <option value="{{ d }}">{{ d }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="access_mode" id="access_mode">
                                                <option value="view" selected>View</option>
                                                <option value="download" selected>Download</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger">Go</button>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                </div>
            </div>

        {% endif %}

    {% else %}
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-danger btn-block" type="button" data-toggle="modal" data-target="#create_project_modal">Create Project "{{ project_name }}"</button>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block extra_body %}{% endblock %}