{% extends django_learning_template %}

{% load static %}

{% block extra_head %}{% endblock %}

{% block modals %}

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Topic Models</div>
                <table class="panel-body table table-condensed">
                    <tr><th>Name</th><th>Parameters</th><th>Anchor Strength</th></tr>
                    {% for model in topic_models %}
                        {% if model.model %}
                            <tr>
                                <td>{{ model.name }}</td>
                                <td>{{ model.parameters }}</td>
                                <td><a class="btn btn-block btn-danger" href="{% url 'django_learning:edit_topic_model' model.pk %}">Edit Anchors</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}{% endblock %}